<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GenZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        Gen<span>Z</span>
      </div>
    </nav>
  </header>
  <form class="grid" action="/result" method="POST">

    {% if name %}
      <center>
        <h3 style="color: rgb(255, 255, 0);" class="let_space">{{name}}</h3>
      </center>
    {% endif %}

    {% if name2 %}
      <center>
        <h3 style="color: rgb(255, 0, 0);" class="let_space">{{name2}}</h3>
      </center>
    {% endif %}
    <input type="text" id="name" name="name" placeholder="Enter the link...">
    <center><input class="file_submit" type="Submit"></center>
  </form>
</body>
</html>